In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [8]:
df = pd.read_csv('/Users/renzocahuana/Documents/Coding_dojo/Machine Learning/House_sales/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [10]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [11]:
numeric_columns = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 
                   'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 
                   'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

df_numeric = df[numeric_columns]


scaler = StandardScaler()
scaler.fit(df_numeric)


scaled_data = scaler.transform(df_numeric)

df_scaled = pd.DataFrame(scaled_data, columns=numeric_columns)

print(df_scaled.head())

      price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  waterfront  \
0 -0.866717 -0.398737  -1.447464    -0.979835 -0.228321 -0.915427   -0.087173
1 -0.005688 -0.398737   0.175607     0.533634 -0.189885  0.936506   -0.087173
2 -0.980849 -1.473959  -1.447464    -1.426254 -0.123298 -0.915427   -0.087173
3  0.174090  0.676485   1.149449    -0.130550 -0.244014 -0.915427   -0.087173
4 -0.081958 -0.398737  -0.149007    -0.435422 -0.169653 -0.915427   -0.087173

       view  condition     grade  sqft_above  sqft_basement  yr_built  \
0 -0.305759  -0.629187 -0.558836   -0.734708      -0.658681 -0.544898
1 -0.305759  -0.629187 -0.558836    0.460841       0.245141 -0.681079
2 -0.305759  -0.629187 -1.409587   -1.229834      -0.658681 -1.293892
3 -0.305759   2.444294 -0.558836   -0.891699       1.397515 -0.204446
4 -0.305759  -0.629187  0.291916   -0.130895      -0.658681  0.544548

   yr_renovated   zipcode       lat      long  sqft_living15  sqft_lot15
0     -0.210128  1.870152 -0.352572 -0.306079      -0.943355   -0.260715
1      4.746678  0.879568  1.161568 -0.746341      -0.432686   -0.187868
2     -0.210128 -0.933388  1.283537 -0.135655       1.070140   -0.172375
3     -0.210128  1.085160 -0.283288 -1.271816      -0.914174   -0.284522
4     -0.210128 -0.073636  0.409550  1.199335      -0.272190   -0.192849

In [12]:
X = df_scaled.drop(columns=['price'])
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

bagged_tree = BaggingRegressor(n_estimators=100, random_state=42)

bagged_tree.fit(X_train, y_train)

y_pred = bagged_tree.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("RMSE:", rmse)

RMSE: 146061.377050604

In [14]:
score = bagged_tree.score(X_test, y_test)
print("Bagged Score:", score)

Bagged Score: 0.8522238802161536

In [16]:
X = df_scaled.drop(columns=['price'])
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


random_forest = RandomForestRegressor(n_estimators=100, random_state=42)

random_forest.fit(X_train, y_train)


y_pred = random_forest.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("RMSE:", rmse)

RMSE: 145266.20505989273

In [17]:
print("Random Forest Score:", random_forest.score(X_test, y_test))

Random Forest Score: 0.8538285148281707

### 1

Random Forest es mejor para este tipo de detaset ya que se manejan varios features y este modelo es robusto debido a la profundidad de la prediccion. Este se ve en la ligera mejoria del score del modelo.

### 2

Se pueden ajustar los estimadores y la profundidad (max_depth) para ajustar complejidad del modelo y prevenir el overfitting.